.App {
 display: flex;
 flex-direction: row;
 width: 70%;
 margin: auto;
}
.content {
  width: 80%;
  text-align: center;
  margin-top: 20px;
}
.nav {
  width: 20%;
}
.circle{
  counter-reset: list-counter;
  list-style: none;
  float:left;
}
.circle li{
  margin: 1.5em 0;    
}
.circle li:before{
  content: counter(list-counter);
  counter-increment: list-counter;
  width: 1em;
  height: 1em;
  padding: .5em;
  margin-right: 1em;
  border-radius: 50%;
  border: .25em solid #ccc;
  background: #000;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  
}

 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #61dafb;
}
 
@media (prefers-reduced-motion: no-preference) {
  .efraim1 {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
 
.list-style {
 
}
 
.yaniv {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
 
.yaniv-container {
  padding: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
 
.yaniv-background-color h1 {
  color: #000;
  font-family: 'montserrat';
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 1vw;
  max-width: 700px;
  text-align: center;
  background: -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}





